[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=true
indent_style=space
indent_size=2

[*.java]
indent_style=space
indent_size=2

[{*.gant,*.groovy,*.gradle,*.gdsl,*.gy}]
indent_style=space
indent_size=2

