<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.sdex.activityrunner">

  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
  <!-- JobIntentService uses a wake lock to start a service in pre-O devices -->
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".RunnerApplication"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">

    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:label="@string/intent_launcher_activity"
      android:name=".intent.LaunchParamsActivity" />

    <activity
      android:label="@string/history_activity"
      android:name=".intent.history.HistoryActivity" />

    <activity
      android:label="@string/donate_title"
      android:name=".PurchaseActivity" />

    <activity android:name=".manifest.ManifestViewerActivity" />

    <activity android:name=".AboutActivity" />

    <activity android:name=".OreoPackageManagerBugActivity" />

    <activity
      android:label="@string/settings_activity"
      android:name=".SettingsActivity" />

    <service
      android:exported="false"
      android:name=".service.AppLoaderIntentService"
      android:permission="android.permission.BIND_JOB_SERVICE" />

  </application>

</manifest>