<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.sdex.activityrunner">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission
    android:name="android.permission.RECEIVE_BOOT_COMPLETED"
    tools:node="remove" />

  <application
    android:name=".ActivityManagerApplication"
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-library
      android:name="org.apache.http.legacy"
      android:required="false" />

    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".intent.IntentBuilderActivity"
      android:exported="true"
      android:label="@string/intent_launcher_activity" />

    <activity
      android:name=".intent.analyzer.IntentAnalyzerActivity"
      android:exported="true"
      android:label="@string/intent_analyzer_activity" />

    <activity
      android:name=".intent.history.HistoryActivity"
      android:exported="true"
      android:label="@string/history_activity" />

    <activity
      android:name=".premium.PurchaseActivity"
      android:label="@string/purchase_activity" />

    <activity android:name=".manifest.ManifestViewerActivity" />

    <activity android:name=".app.ActivitiesListActivity" />

    <activity
      android:name=".shortcut.ShortcutHandlerActivity"
      android:exported="true"
      android:theme="@android:style/Theme.Translucent" />

    <activity android:name=".AboutActivity" />

    <activity android:name=".app.legacy.OreoPackageManagerBugActivity" />

    <activity
      android:name=".app.root.CheckRootActivity"
      android:exported="true"
      android:label="@string/root_check_compatibility" />

    <activity
      android:name=".preferences.SettingsActivity"
      android:label="@string/settings_activity" />

    <activity
      android:name="com.google.android.gms.ads.AdActivity"
      android:theme="@style/TranslucentTheme"
      tools:replace="android:theme" />

  </application>

</manifest>
